<nb-card>
  <nb-card-header>Change my password</nb-card-header>
  <nb-card-body>
    <form [formGroup]="passwordForm">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputOldPassword" class="label">Old password</label>
            <nb-form-field>
              <input nbInput [type]="getTypeInputOldPassword()" id="inputOldPassword" formControlName="inputOldPassword" placeholder="Old password" fullWidth
                     [status]="inputOldPassword.invalid && inputOldPassword.touched ? 'danger' : (inputOldPassword.valid ? 'success' : 'basic')" required>
              <button nbSuffix nbButton ghost (click)="toggleShowOldPassword()">
                <nb-icon [icon]="showOldPassword ? 'eye-outline' : 'eye-off-2-outline'"
                         pack="eva"
                         [attr.aria-label]="showOldPassword ? 'hide password' : 'show password'">
                </nb-icon>
              </button>
            </nb-form-field>
            <ng-container *ngIf="inputOldPassword.invalid && inputOldPassword.touched">
              <p class="caption status-danger" *ngIf="inputOldPassword.errors?.required">
                Old password is required!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputNewPassword" class="label">New Password</label>
            <nb-form-field>
            <input nbInput [type]="getTypeInputNewPassword()" id="inputNewPassword" formControlName="inputNewPassword" placeholder="New password" fullWidth
                   [status]="inputNewPassword.invalid && inputNewPassword.touched ? 'danger' : (inputNewPassword.valid ? 'success' : 'basic')" required
            >
              <button nbSuffix nbButton ghost (click)="toggleShowNewPassword()">
                <nb-icon [icon]="showNewPassword ? 'eye-outline' : 'eye-off-2-outline'"
                         pack="eva"
                         [attr.aria-label]="showNewPassword ? 'hide password' : 'show password'">
                </nb-icon>
              </button>
              </nb-form-field>
            <ng-container *ngIf="inputNewPassword.invalid && inputNewPassword.touched">
              <p class="caption status-danger" *ngIf="inputNewPassword.errors?.required">
                New password is required!
              </p>
              <p class="caption status-danger" *ngIf="inputNewPassword.errors?.pattern">
                Password should be combination of one uppercase , one lower case, one special char, one digit and min 8 , max 20 char long
              </p>
            </ng-container>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputRepeatNewPassword" class="label">Repeat password</label>
            <nb-form-field>
            <input nbInput [type]="getTypeInputRepeatPassword()" id="inputRepeatNewPassword" formControlName="inputRepeatNewPassword" placeholder="Repeat new password" fullWidth
                   [status]="inputRepeatNewPassword.invalid && inputRepeatNewPassword.touched ? 'danger' : (inputRepeatNewPassword.valid ? 'success' : 'basic')" required
            >
              <button nbSuffix nbButton ghost (click)="toggleShowNewConfirmPassword()">
                <nb-icon [icon]="showNewConfirmPassword ? 'eye-outline' : 'eye-off-2-outline'"
                         pack="eva"
                         [attr.aria-label]="showNewConfirmPassword ? 'hide password' : 'show password'">
                </nb-icon>
              </button>
              </nb-form-field>
            <ng-container *ngIf="inputRepeatNewPassword.invalid && inputRepeatNewPassword.touched">
              <p class="caption status-danger" *ngIf="inputRepeatNewPassword.errors?.required">
                New password is required!
              </p>
              <p class="caption status-danger" *ngIf="inputRepeatNewPassword.errors?.confirmPasswordIncorrect">
                Passwords must match
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <button type="submit" nbButton (click)="submitPassword()"
              [disabled]="!(inputOldPassword.valid && inputNewPassword.valid && inputRepeatNewPassword.valid)">Submit</button>
    </form>
  </nb-card-body>
</nb-card>
