<nb-card class="inline-form-card">
  <nb-card-header>Create group</nb-card-header>
  <nb-card-body>
    <form class="form-inline" [formGroup]="groupForm">

      <input nbInput id="name" type="text" placeholder="Group Name" formControlName="name" fullWidth required>

      <input type="text" nbInput fullWidth placeholder="Group description" formControlName="description" required>

      <nb-select selected="0" placeholder="Company" style="width: 300px" formControlName="companyId" required>
        <nb-option *ngFor="let company of companies" value="{{ company.id }}">{{ company.id }} - {{ company.name }}</nb-option>
      </nb-select>
      <button type="submit" nbButton status="primary" (click)="submitNewGroup()"
              [disabled]="!(name.valid && description.valid && companyId.valid)">Create
      </button>
    </form>
    <div class="row">
      <div class="col-4">
        <ng-container *ngIf="name.invalid && name.touched">
          <p class="caption status-danger" *ngIf="name.errors?.required">
            Company name is required!
          </p>
        </ng-container>
      </div>
      <div class="col-4">
        <ng-container *ngIf="description.invalid && description.touched">
          <p class="caption status-danger" *ngIf="description.errors?.required">
            Company description is required!
          </p>
        </ng-container>
      </div>
    </div>
  </nb-card-body>
</nb-card>
